@import '~design-system/_sass/reusable-components/design-system-config';

// overwrite some base styles since next.js currently does not allow to import scss files from node_modules
// so the <ThemeInjector> cannot be added to this project
// inside .ts and .js files

:root {
	--bordercolor: #505560;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 3fr 2fr;
	grid-template-areas:
		'header header'
		'notesList note'
		'notesList note';
}

.container__header {
	grid-area: header;
}

.container__notesList {
	grid-area: notesList;
	overflow: hidden;
}

.container__note {
	grid-area: note;
	overflow: auto;
}

.note__container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 20px;
	overflow: hidden;
	height: calc(100% - 40px);
}

.note__container__textarea {
	flex-grow: 1;
	color: white;
	padding-left: 8px;
}

.border-bottom {
	border-bottom: 1px solid var(--bordercolor);
}

.item-container-row {
	background-color: transparent;
}
